h3{
    font-size: 1.6em;
}


body{
    font-family: 'Poppins', sans-serif;
}

.bg-home{
    background-image: url(https://res.cloudinary.com/dsx9rgylr/image/upload/v1543534385/city-1.jpg);
    background-size: cover; 
    background-position: center;
    height: 95vh;
    overflow: hidden;
}

.bg-center h1{
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #282828;
}

.bg-center p {
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #282828;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#desc{
    padding-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.section{
    width: 100%;
    padding: 20px;
}

.titulo{
    padding-bottom: 20px;
}

.img-perfil{
    height: 200px;
    width: auto;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.black{
    background-color: #282828;
    color:#FFF;
}

.eletronics{
    background-color: #FFF;
    color:#282828;
    overflow: hidden;
}

.bg-home h1{
    color: white;
}

.box {
    text-align: center;
    padding-bottom: 25px;
}

.box h3{
    text-transform: uppercase;
}

.box img{
    height: 100px;
    padding-bottom: 10px;
}

.box span{
    color: #666666;
}

.icon{
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.icon img{
    height: 60%;
    width: auto;
}

#sobre{
    overflow: hidden;
}

.post{
    border-bottom: #28282870 1px solid;
}

.post:last-child{
    background-color: red;
}

.post h2{
    font-size: 2.5em;
    line-height: 1;
    font-weight: 600;
}

.post h3{
    text-transform: uppercase;
    font-size: 1.1em;
}

.post-title {
    display: block;
    padding: 0px 20px;
}

.post-content{
    padding: 0px 50px;
}

.post-content img{
    height: auto;
    width: 100%;
}

.post-author{
 font-size: 1em !important; 
}

.post-content p{
    font-size: 1.1em;
}

.pagination-box{
    padding: 20px;
}

.pagination {
    display: inline-block;
}

button {
    background-color: #282828 !important;
}

button:hover {
    background-color: #282828ec !important;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #282828;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.single-post {
    padding: 20px;
}

.single-post h2{
    font-weight: 700;
    font-size: 2.8em;
}

.single-post h3{
    font-size: 1.2em;
    padding-top: 5px; 
}

.single-post img{
    width: 100%;
    height: auto;
}

.paragraph-post{
    padding: 20px 60px;
    font-size: 1.2em;
    font-weight: 100;
}

.post-image{
    padding: 20px 0px;
}