@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  list-style: none;
}
